@font-face {
    font-family: 'Geometria';
    src: url('/fonts/Geometria.woff2') format('woff2'),
         url('/fonts/Geometria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }